<ul class="nav nav-sidebar">
  <li class="active"><a href="/"><i class="fa fa-tachometer"></i> Dashboard</a></li>
  <li><a href="/tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
  <li><a href="/attendees"><i class="fa fa-users"></i> Attendees</a></li>
  <li><a href="/orders"><i class="fa fa-money"></i> Orders</a></li>
  <li><a href="/promocodes"><i class="fa fa-rocket"></i> Promo Codes</a></li>
  <li><a href="/event-settings"><i class="fa fa-cog"></i> Event Settings</a></li>
  <li><a href="#">View Event Page</a></li>
</ul>