@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88253292');
  src: url('../font/fontello.eot?88253292#iefix') format('embedded-opentype'), url('../font/fontello.woff?88253292') format('woff'), url('../font/fontello.ttf?88253292') format('truetype'), url('../font/fontello.svg?88253292#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88253292#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-globe:before {
  content: '\e804';
}
/* '' */
.icon-lanyrd:before {
  content: '\e800';
}
/* '' */
.icon-dribbble:before {
  content: '\e803';
}
/* '' */
.icon-twitter:before {
  content: '\e801';
}
/* '' */
.icon-facebook:before {
  content: '\e802';
}
/* '' */
/*!
 * Ladda
 * http://lab.hakim.se/ladda
 * MIT licensed
 *
 * Copyright (C) 2013 Hakim El Hattab, http://hakim.se
 */
/*************************************
 * CONFIG
 */
/*************************************
 * MIXINS
 */
/*************************************
 * BUTTON BASE
 */
.ladda-button {
  position: relative;
}
/* Spinner animation */
.ladda-button .ladda-spinner {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  opacity: 0;
  pointer-events: none;
}
/* Button label */
.ladda-button .ladda-label {
  position: relative;
  z-index: 3;
}
/* Progress bar */
.ladda-button .ladda-progress {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.1s linear all !important;
  -moz-transition: 0.1s linear all !important;
  -ms-transition: 0.1s linear all !important;
  -o-transition: 0.1s linear all !important;
  transition: 0.1s linear all !important;
}
.ladda-button[data-loading] .ladda-progress {
  opacity: 1;
  visibility: visible;
}
/*************************************
 * EASING
 */
.ladda-button,
.ladda-button .ladda-spinner,
.ladda-button .ladda-label {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}
.ladda-button[data-style=zoom-in],
.ladda-button[data-style=zoom-in] .ladda-spinner,
.ladda-button[data-style=zoom-in] .ladda-label,
.ladda-button[data-style=zoom-out],
.ladda-button[data-style=zoom-out] .ladda-spinner,
.ladda-button[data-style=zoom-out] .ladda-label {
  -webkit-transition: 0.3s ease all !important;
  -moz-transition: 0.3s ease all !important;
  -ms-transition: 0.3s ease all !important;
  -o-transition: 0.3s ease all !important;
  transition: 0.3s ease all !important;
}
/*************************************
 * EXPAND LEFT
 */
.ladda-button[data-style=expand-right] .ladda-spinner {
  right: 14px;
}
.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner {
  right: 4px;
}
.ladda-button[data-style=expand-right][data-loading] {
  padding-right: 56px;
}
.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size="xs"] {
  padding-right: 40px;
}
/*************************************
 * EXPAND RIGHT
 */
.ladda-button[data-style=expand-left] .ladda-spinner {
  left: 14px;
}
.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-left][data-size="xs"] .ladda-spinner {
  left: 4px;
}
.ladda-button[data-style=expand-left][data-loading] {
  padding-left: 56px;
}
.ladda-button[data-style=expand-left][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=expand-left][data-loading][data-size="s"],
.ladda-button[data-style=expand-left][data-loading][data-size="xs"] {
  padding-left: 40px;
}
/*************************************
 * EXPAND UP
 */
.ladda-button[data-style=expand-up] {
  overflow: hidden;
}
.ladda-button[data-style=expand-up] .ladda-spinner {
  top: -32px;
  left: 50%;
  margin-left: -16px;
}
.ladda-button[data-style=expand-up][data-loading] {
  padding-top: 54px;
}
.ladda-button[data-style=expand-up][data-loading] .ladda-spinner {
  opacity: 1;
  top: 14px;
  margin-top: 0;
}
.ladda-button[data-style=expand-up][data-loading][data-size="s"],
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] {
  padding-top: 32px;
}
.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-up][data-loading][data-size="xs"] .ladda-spinner {
  top: 4px;
}
/*************************************
 * EXPAND DOWN
 */
.ladda-button[data-style=expand-down] {
  overflow: hidden;
}
.ladda-button[data-style=expand-down] .ladda-spinner {
  top: 62px;
  left: 50%;
  margin-left: -16px;
}
.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-down][data-size="xs"] .ladda-spinner {
  top: 40px;
}
.ladda-button[data-style=expand-down][data-loading] {
  padding-bottom: 54px;
}
.ladda-button[data-style=expand-down][data-loading] .ladda-spinner {
  opacity: 1;
}
.ladda-button[data-style=expand-down][data-loading][data-size="s"],
.ladda-button[data-style=expand-down][data-loading][data-size="xs"] {
  padding-bottom: 32px;
}
/*************************************
 * SLIDE LEFT
 */
.ladda-button[data-style=slide-left] {
  overflow: hidden;
}
.ladda-button[data-style=slide-left] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-left] .ladda-spinner {
  left: 100%;
  margin-left: -16px;
}
.ladda-button[data-style=slide-left][data-loading] .ladda-label {
  opacity: 0;
  left: -100%;
}
.ladda-button[data-style=slide-left][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%;
}
/*************************************
 * SLIDE RIGHT
 */
.ladda-button[data-style=slide-right] {
  overflow: hidden;
}
.ladda-button[data-style=slide-right] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-right] .ladda-spinner {
  right: 100%;
  margin-left: -16px;
}
.ladda-button[data-style=slide-right][data-loading] .ladda-label {
  opacity: 0;
  left: 100%;
}
.ladda-button[data-style=slide-right][data-loading] .ladda-spinner {
  opacity: 1;
  left: 50%;
}
/*************************************
 * SLIDE UP
 */
.ladda-button[data-style=slide-up] {
  overflow: hidden;
}
.ladda-button[data-style=slide-up] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-up] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  margin-top: 1em;
}
.ladda-button[data-style=slide-up][data-loading] .ladda-label {
  opacity: 0;
  top: -1em;
}
.ladda-button[data-style=slide-up][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: -16px;
}
/*************************************
 * SLIDE DOWN
 */
.ladda-button[data-style=slide-down] {
  overflow: hidden;
}
.ladda-button[data-style=slide-down] .ladda-label {
  position: relative;
}
.ladda-button[data-style=slide-down] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  margin-top: -2em;
}
.ladda-button[data-style=slide-down][data-loading] .ladda-label {
  opacity: 0;
  top: 1em;
}
.ladda-button[data-style=slide-down][data-loading] .ladda-spinner {
  opacity: 1;
  margin-top: -16px;
}
/*************************************
 * ZOOM-OUT
 */
.ladda-button[data-style=zoom-out] {
  overflow: hidden;
}
.ladda-button[data-style=zoom-out] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
}
.ladda-button[data-style=zoom-out] .ladda-label {
  position: relative;
  display: inline-block;
}
.ladda-button[data-style=zoom-out][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/*************************************
 * ZOOM-IN
 */
.ladda-button[data-style=zoom-in] {
  overflow: hidden;
}
.ladda-button[data-style=zoom-in] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
}
.ladda-button[data-style=zoom-in] .ladda-label {
  position: relative;
  display: inline-block;
}
.ladda-button[data-style=zoom-in][data-loading] .ladda-label {
  opacity: 0;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
}
.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/*************************************
 * CONTRACT
 */
.ladda-button[data-style=contract] {
  overflow: hidden;
  width: 100px;
}
.ladda-button[data-style=contract] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
}
.ladda-button[data-style=contract][data-loading] {
  border-radius: 50%;
  width: 52px;
}
.ladda-button[data-style=contract][data-loading] .ladda-label {
  opacity: 0;
}
.ladda-button[data-style=contract][data-loading] .ladda-spinner {
  opacity: 1;
}
/*************************************
 * OVERLAY
 */
.ladda-button[data-style=contract-overlay] {
  overflow: hidden;
  width: 100px;
  box-shadow: 0px 0px 0px 3000px rgba(0, 0, 0, 0);
}
.ladda-button[data-style=contract-overlay] .ladda-spinner {
  left: 50%;
  margin-left: -16px;
}
.ladda-button[data-style=contract-overlay][data-loading] {
  border-radius: 50%;
  width: 52px;
  /*outline: 10000px solid rgba( 0, 0, 0, 0.5 );*/
  box-shadow: 0px 0px 0px 3000px rgba(0, 0, 0, 0.8);
}
.ladda-button[data-style=contract-overlay][data-loading] .ladda-label {
  opacity: 0;
}
.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner {
  opacity: 1;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
.form-group {
  margin-bottom: 5px;
}
.form-group .control-label {
  margin-bottom: 5px;
}
.form-group .form-control {
  border-radius: 2px;
  padding: 6px;
}
.form-group .form-control:focus {
  border-color: #9e813d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  background: #9e813d;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #ffffff;
  border: #ffffff;
  outline: none;
  color: #9e813d;
}
.btn-secondary {
  background: #9e813d;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background: #0d1416;
  border: #ffffff;
  outline: none;
  color: #ffffff;
}
.btn-twitter {
  background: #55acee;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0 8px 0;
}
.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter:focus {
  background: #3ea1ec;
  border: #55acee;
  outline: none;
  color: #ffffff;
}
.btn-facebook {
  background: #4a65a0;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0 8px 0;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
  background: #425a8f;
  border: #4a65a0;
  outline: none;
  color: #ffffff;
}
.btn-lanyrd {
  background: #142e51;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0 8px 0;
}
.btn-lanyrd:hover,
.btn-lanyrd:active,
.btn-lanyrd:focus {
  background: #0f223d;
  border: #142e51;
  outline: none;
  color: #ffffff;
}
hr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border: 0;
  color: #9e813d;
  background-color: #9e813d;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "iskra", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "iskra", sans-serif;
  background: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper {
  background: #ffffff;
  border: 1px solid #0d1416;
  border-radius: 2px;
  margin: 30px 0;
}
.wrapper .header {
  padding: 30px;
}
.wrapper .header img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.wrapper .header p {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
}
.wrapper .header p strong {
  font-size: 18px;
}
.wrapper .header p.mobile {
  text-align: center;
  line-height: 28px;
  margin-top: 40px;
}
.wrapper .header p.mobile strong {
  font-size: 24px;
}
.wrapper .header h2 {
  text-align: center;
  text-transform: uppercase;
}
.wrapper .tickets h3 {
  background: #0d1416;
  color: #9e813d;
  display: block;
  padding: 2px 20px 6px 20px;
  margin: 0;
  font-size: 20px;
}
.wrapper .tickets ul li {
  padding: 10px 20px;
  width: 100%;
  float: left;
  border-bottom: 1px solid #cccccc;
}
.wrapper .tickets ul li h4 {
  float: left;
  margin: 0;
  padding: 0;
  width: 70%;
}
.wrapper .tickets ul li h4 span {
  font-weight: 400;
  font-size: 14px;
}
.wrapper .tickets ul li div {
  float: right;
  width: 30%;
}
.wrapper .tickets ul li div span {
  float: right;
  font-size: 16px;
  margin: 7px 0 0 0;
}
.wrapper .tickets ul li div span.not-available {
  margin: 6px 0 0 0;
}
.wrapper .tickets ul li div input {
  width: 40px;
  font-size: 16px;
  padding-left: 5px;
  margin-left: 10px;
  margin-top: 2px;
  float: right;
}
.wrapper .tickets ul li:last-child {
  border-bottom: 10px solid #0d1416;
}
.wrapper .billing-info {
  padding: 20px;
}
.wrapper .billing-info h4 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}
.wrapper .billing-info h4 span.remove {
  color: #9e813d;
  float: right;
  font-weight: 500;
  font-size: 14px;
  margin-top: 4px;
  cursor: pointer;
}
.wrapper .billing-info h4 span.remove:hover {
  color: #0d1416;
}
.wrapper .promocode {
  background: #ffffff;
  padding: 0 20px 20px 20px;
  float: left;
  width: 100%;
}
.wrapper .promocode h4 {
  float: left;
  color: #0d1416;
  margin: 5px 0 10px -15px;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}
.wrapper .promocode input[type="text"] {
  width: 80%;
  margin-right: 2%;
  float: left;
}
.wrapper .promocode input[type="submit"] {
  width: 28%;
  float: right;
}
.wrapper .promocode ul li {
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  float: left;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.wrapper .promocode ul li p {
  float: left;
  margin: 0;
  padding: 0;
  width: 60%;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.wrapper .promocode ul li p span {
  font-size: 12px;
  font-weight: 400;
}
.wrapper .promocode ul li p span.remove {
  text-align: left;
  width: 100%;
}
.wrapper .promocode ul li p.mobile {
  width: 100%;
}
.wrapper .promocode ul li span.remove {
  float: right;
  text-align: right;
  width: 40%;
  color: #9e813d;
  cursor: pointer;
  margin-top: 5px;
}
.wrapper .promocode ul li span.remove:hover {
  color: #0d1416;
}
.wrapper .promocode ul li:hover {
  border-color: #9e813d;
}
.wrapper .promocode ul li.invalid {
  border-color: #9e813d;
  background: #9e813d;
  color: #ffffff;
}
.wrapper .promocode ul li.invalid p {
  width: 100%;
}
.wrapper .bottom {
  background: #0d1416;
  padding: 54px 20px 25px 20px;
}
.wrapper .bottom .btn-primary {
  float: right;
  padding: 15px 55px;
  margin-top: 29px;
}
.wrapper .bottom .btn-primary.btn-mobile {
  width: 100%;
  float: none;
  text-align: center;
  display: block;
}
.wrapper .bottom p {
  font-size: 26px;
  font-weight: 600;
  color: #9e813d;
  margin-top: 34px;
}
.wrapper .bottom p span {
  font-weight: 400;
}
.wrapper .bottom p.mobile {
  text-align: center;
  margin-top: 10px;
}
p.stripe {
  margin-bottom: 100px;
  text-align: center;
  color: #0d1416;
}
p.stripe img {
  height: 20px;
  margin-left: 2px;
}
.confirmation {
  background: #ffffff;
  border: 1px solid #0d1416;
  border-radius: 2px;
  margin: 100px 0;
  padding: 30px;
  text-align: center;
}
.confirmation img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.confirmation h1 {
  margin: 20px 0;
  font-size: 30px;
}
.confirmation p {
  font-size: 16px;
  margin-bottom: 15px;
}
.confirmation .share .btn {
  margin-top: 10px;
}
.confirmation .share .btn i {
  margin-right: 10px;
  font-size: 14px;
}
#card-error {
  display: none;
  background: #9e813d;
  border-radius: 2px;
  padding: 10px 10px 1px 20px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}
ul.parsley-error-list {
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 12px;
  color: #fff;
  list-style: none;
  background: #9e813d;
  border: 1px solid #9e813d;
  border-radius: 2px;
}
input.parsley-error,
textarea.parsley-error {
  border: 1px solid #9e813d;
}
body#admin {
  padding-top: 50px;
}
body#admin .navbar-inverse {
  padding-left: 20px;
  padding-right: 20px;
}
body#admin .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
body#admin .sidebar {
  display: none;
}
@media (min-width: 768px) {
  body#admin .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
body#admin .nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 16px;
}
body#admin .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
body#admin .nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
body#admin .main {
  padding: 20px;
}
body#admin ul.options li {
  float: right;
  margin-left: 10px;
}
@media (min-width: 768px) {
  body#admin .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  body#admin .page-header {
    margin-top: 0;
  }
}
body#admin .stat {
  border: 1px solid #0d1416;
  padding: 20px 10px;
  border-radius: 3px;
  margin-bottom: 30px;
  text-align: center;
}
body#admin .stat h4 {
  margin-bottom: 0;
  font-size: 40px;
  margin-top: 0;
}
body#admin .stat span {
  font-size: 12px;
}
