@import "bootstrap/less/bootstrap.less";
@import "fontawesome/font-awesome.less";
@import (less) "ladda/dist/ladda.min.css";
@import "variables.less";
@import "fonts.less";
@import "ladda.less";

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.form-group {
  margin-bottom: 5px;
  .control-label {
    margin-bottom: 5px;
  }
  .form-control {
    border-radius: 2px;
    padding: 6px;
    &:focus {
      border-color: @gold;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.btn-primary {
  background: @gold;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  &:hover,
  &:active,
  &:focus {
    background: @white;
    border: @white;
    outline: none;
    color: @gold;
  }
}

.btn-gold {
  background: @gold;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: @white;
  &:hover,
  &:active,
  &:focus {
    background: @black;
    border: @white;
    outline: none;
    color: @white;
  }
}

.btn-black {
  background: @black;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: @white;
  &:hover,
  &:active,
  &:focus {
    background: @gold;
    border: @white;
    outline: none;
    color: @white;
  }
}

.btn-twitter {
  background: @twitter;
  color: @white;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0 8px 0;
  &:hover,
  &:active,
  &:focus {
    background: darken(@twitter, 5%);
    border: @twitter;
    outline: none;
    color: @white;
  }
}

.btn-facebook {
  background: @facebook;
  color: @white;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0 8px 0;
  &:hover,
  &:active,
  &:focus {
    background: darken(@facebook, 5%);
    border: @facebook;
    outline: none;
    color: @white;
  }
}

.btn-lanyrd {
  background: @lanyrd;
  color: @white;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  width: 100%;
  padding: 6px 0 8px 0;
  &:hover,
  &:active,
  &:focus {
    background: darken(@lanyrd, 5%);
    border: @lanyrd;
    outline: none;
    color: @white;
  }
}

hr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border: 0;
  color: @gold;
  background-color: @gold;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "iskra",sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "iskra",sans-serif;
  background: @white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  background: @white;
  border: 1px solid @black;
  border-radius: 2px;
  margin: 30px 0;
  .header {
    padding: 30px;
    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    p {
       text-align: right;
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
       margin-top: 0;
       strong {
        font-size: 18px;
       }
       &.mobile {
        text-align: center;
        line-height: 28px;
        strong {
          font-size: 24px;
        }
        margin-top: 40px;
       }
    }
    h2 {
      text-align: center;
      text-transform: uppercase;
    }
  }
  .tickets {
    h3 {
      background: @black;
      color: @gold;
      display: block;
      padding: 2px 20px 6px 20px;
      margin: 0;
      font-size: 20px;
    }
    ul {
      li {
        padding: 10px 20px;
        width: 100%;
        float: left;
        border-bottom: 1px solid @grey;
        h4 {
          float: left;
          margin: 0;
          padding: 0;
          width: 68%;
          span {
            font-weight: 400;
            font-size: 14px;
          }
        }
        div {
          float: right;
          width: 32%;
          span {
            float: right;
            font-size: 16px;
            margin: 7px 0 0 0;
            &.not-available {
              margin: 6px 0 0 0;
            }
          }
          input {
            width: 40px;
            font-size: 16px;
            padding-left: 5px;
            margin-left: 10px;
            margin-top: 2px;
            float: right;
          }
        }
        &:last-child {
          border-bottom: 10px solid @black;
        }
      }
    }
  }
  .billing-info {
    padding: 20px 30px;
    h4 {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 20px;
      span.remove {
        color: @gold;
        float: right;
        font-weight: 500;
        font-size: 14px;
        margin-top: 4px;
        cursor: pointer;
        &:hover {
          color: @black;
        }
      }
    }
  }
  .promocode {
    background: @white;
    padding: 10px 30px 30px 30px;
    float: left;
    width: 100%;
    h4 {
      float: left;
      color: @black;
      margin: 5px 0 10px -15px;
      padding: 0;
      font-size: 15px;
      font-weight: 500;
    }
    input {
      width: 100%;
    }
    input[type="text"] {
    }
    input[type="submit"] {
    }
    ul {
      li {
        margin-top: 10px;
        padding: 10px 15px;
        width: 100%;
        float: left;
        border: 1px solid @grey;
        border-radius: 2px;
        p {
          float: left;
          margin: 0;
          padding: 0;
          width: 60%;
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          span {
            font-size: 12px;
            font-weight: 400;
            &.remove {
              text-align: left;
              width: 100%;
            }
          }
          &.mobile {
            width: 100%;
          }
        }
        span.remove {
          float: right;
          text-align: right;
          width: 40%;
          color: @gold;
          cursor: pointer;
          margin-top: 5px;
          &:hover {
            color: @black;
          }
        }
        &:hover {
          border-color: @gold;
        }
        &.invalid {
          border-color: @gold;
          background: @gold;
          color: @white;
          p {
            width: 100%;
          }
        }
      }
    }
  }
  .bottom {
    background: @black;
    padding: 54px 30px 30px 30px;
    .btn-primary {
      float: right;
      padding: 15px 55px;
      margin-top: 10px;
      width: 100%;
      font-size: 24px;
      letter-spacing: 0.2em;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: @gold;
      margin-top: 20px;
      text-transform: uppercase;
      line-height: 28px;
      text-align: center;
      span {
        font-weight: 600;
        font-size: 42px;
      }
    }
  }
}

p.stripe {
  margin-bottom: 100px;
  text-align: center;
  color: @black;
  img {
    height: 20px;
    margin-left: 2px;
  }
}

.confirmation {
  background: @white;
  border: 1px solid @black;
  border-radius: 2px;
  margin: 100px 0;
  padding: 30px;
  text-align: center;
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  h1 {
    margin: 20px 0;
    font-size: 30px;
  }
  p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .share {
    .btn {
      margin-top: 10px;
      i {
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }
}

#card-error {
  display: none;
  background: @gold;
  border-radius: 2px;
  padding: 10px 10px 1px 20px;
  color: @white;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}

ul.parsley-error-list {
  padding: 5px 10px;
  margin-top: 2px;
  font-size: 12px;
  color: #fff;
  list-style: none;
  background: @gold;
  border: 1px solid @gold;
  border-radius: 2px;
}

input.parsley-error,
textarea.parsley-error,
 {
  border: 1px solid @gold;
}


body#admin {
  padding-top: 50px;
  .navbar-inverse {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }

  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    font-size: 16px;
    > li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    > .active > a {
      color: #fff;
      background-color: #428bca;
    }
  }

  .main {
    padding: 20px;
  }

  ul.options {
    li {
      float: right;
      margin-left: 10px;
    }
  }

  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
    .page-header {
      margin-top: 0;
    }
  }

  .stat {
    border: 1px solid @black;
    padding: 20px 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    text-align: center;
    h4 {
      margin-bottom: 0;
      font-size: 40px;
      margin-top: 0;
    }
    span {
      font-size: 12px;
    }
  }
}