{{> _header}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {{> _sidebar}}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <div class="stat">
            <h4>21</h4>
            <span class="text-muted">Orders</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="stat">
            <h4>52</h4>
            <span class="text-muted">Tickets Sold</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="stat">
            <h4>134</h4>
            <span class="text-muted">Days Until Event</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="stat">
            <h4>315</h4>
            <span class="text-muted">Page Views</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="stat">
            <h4>$1,243.09</h4>
            <span class="text-muted">Total Revenue</span>
          </div>
        </div>
      </div>
      <h2 class="sub-header">Timeline</h2>
    </div>
  </div>
</div>
{{> _footer}}