{{> _header}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {{> _sidebar}}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Orders</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Purchaser's Name</th>
              <th>Email Address</th>
              <th>Card Type</th>
              <th>Credit Card Number</th>
              <th>Date Ordered</th>
              <th>Tickets Ordered</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Arlton Lowry</td>
              <td>arlton@few.io</td>
              <td>Mastercard</td>
              <td>************0279</td>
              <td>02/15/14</td>
              <td>6</td>
              <td>$1,110.00</td>
            </tr>
            <tr>
              <td>David Hudson</td>
              <td>david@few.io</td>
              <td>Visa</td>
              <td>************5029</td>
              <td>02/17/14</td>
              <td>2</td>
              <td>$370.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{> _footer}}