<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>Made by Few 2014 Conference</title>
  <meta name="description" content="The conference for makers of the web. The event takes place on August 22nd - 23rd in Little Rock, Arkansas." />
  <meta name="keywords" content="made by few, conference, conf, little rock, arkansas, tech, technology, design, development, entrepreneurship, entrepreneur, illustration, creatives, creative, startups, startup">
  <meta name="author" content="Arlton Lowry and David Hudson">
  <meta property="og:title" content="Made by Few 2014 Conference" />
  <meta property="og:site_name" content="Made by Few">
  <meta property="og:description" content="The conference for makers of the web. The event takes place on August 22nd - 23rd in Little Rock, Arkansas." />
  <meta property="og:image" content="http://mxf2014.herokuapp.com/assets/img/mxf-facebook.png" />
  <meta property="og:site_name" content="Made by Few">
  <meta property="og:type" content="website">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/ios/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/ios/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/ios/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/img/ios/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <!--[if lt IE 9]>
    <script src="/assets/js/html5.js"></script>
  <![endif]-->
  <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" href="/assets/css/home.min.css" />
  <!--<![endif]-->
  <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" href="/assets/css/ie.css" />
  <![endif]-->
  <script type="text/javascript" src="//use.typekit.net/dle5ptb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <section data-scroll-index="0" data-stellar-ratio="0.8" id="welcome" class="fading">
    <div class="grid-container">
      <div class="grid-50 mobile-grid-100 hide-on-mobile visible-on-tablet">
        <div class="social">
          <a href="http://www.twitter.com/madebyfew"><i class="icon-twitter"></i></a>
          <a href="http://www.facebook.com/madebyfew"><i class="icon-facebook"></i></a>
          <a href="http://lanyrd.com/2014/mxf2014"><i class="icon-lanyrd"></i></a>
        </div>
      </div>
      <div class="grid-50 mobile-grid-100">
        <a class="btn register hide-on-mobile visible-on-tablet" href="https://mxf2014.herokuapp.com/register">Register Now</a>
      </div>
      <div class="grid-100 mobile-grid-100">
        <h1>
          <img class="hide-on-mobile" src="/assets/img/logo.png">
          <img class="hide-on-desktop" src="/assets/img/logo.png">
        </h1>
        <h2 class="hide-on-mobile">The conference for makers of the web.<br /><span>August 22nd - 23rd | Little Rock, Arkansas</span></h2>
        <h2 class="hide-on-desktop">The conference for makers of the web.<br /><span>August 22nd - 23rd<br />Little Rock, Arkansas</span></h2>
        <a class="btn register-mobile hide-on-desktop" href="https://mxf2014.herokuapp.com/register">Register Now</a>
      </div>
    </div>
  </section>
  <section id="navbar">
    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L50 70 L100 0 Z" />
    </svg>
    <div id="nav-wrapper" class="hide-on-mobile">
      <div class="grid-container">
        <div class="grid-100">
          <nav>
            <ul>
              <li data-scroll-nav="0"><a data-scroll-goto="0">WELCOME</a></li>
              <li data-scroll-nav="1"><a data-scroll-goto="1">SPEAKERS</a></li>
              <li data-scroll-nav="2"><a data-scroll-goto="2">SCHEDULE</a></li>
              <li data-scroll-nav="3"><a data-scroll-goto="3">DETAILS</a></li>
              <li data-scroll-nav="4"><a data-scroll-goto="4">SPONSORS</a></li>
              <li><a href="https://mxf2014.herokuapp.com/register">REGISTER</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section data-scroll-index="1" id="speakers">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <h2 class="hide-on-mobile">Speakers</h2>
        <h2 class="hide-on-desktop">Speakers</h2>
      </div>
      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/james.png">
          <figcaption>
            <h3>James White</h3>
            <p class="title">Designer, Signal Noise</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/signalnoise"><i class="icon-twitter"></i></a>
              <a class="site" href="http://www.signalnoise.com"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/tuesday.png">
          <figcaption>
            <h3>Tuesday Bassen</h3>
            <p class="title">Freelance Designer</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/tuesdaybassen"><i class="icon-twitter"></i></a>
              <a class="site" href="http://tuesdaybassen.com/"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/michael.png">
          <figcaption>
            <h3>Michael Parenteau</h3>
            <p class="title">Creative Director, Relevance</p>
            <p class="social">
              <a class="twitter" href="http://www.twitter.com/parenteau"><i class="icon-twitter"></i></a>
              <a class="site" href="http://thinkrelevance.com"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/jamesvictore.png">
          <figcaption>
            <h3>James Victore</h3>
            <p class="title">Independent Designer</p>
            <p class="social">
              <a class="twitter" href="http://www.twitter.com/JamesVictore"><i class="icon-twitter"></i></a>
              <a class="site" href="http://www.jamesvictore.com/"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/jeffrey.png">
          <figcaption>
            <h3>Jeffrey Kalmikoff</h3>
            <p class="title">Author Development, Blurb</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/jeffrey"><i class="icon-twitter"></i></a>
              <a class="site" href="http://www.callmejeffrey.com"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/marc.png">
          <figcaption>
            <h3>Marc Hemeon</h3>
            <p class="title">Senior UX Designer, Google</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/hemeon"><i class="icon-twitter"></i></a>
              <a class="site" href="http://hemeon.com"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/john.png">
          <figcaption>
            <h3>John Allison</h3>
            <p class="title">Founder, Customer.io</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/jrallison"><i class="icon-twitter"></i></a>
              <a class="site" href="http://www.customer.io"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/jina.png">
          <figcaption>
            <h3>Jina Bolton</h3>
            <p class="title">Senior Product Designer, Salesforce</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/jina"><i class="icon-twitter"></i></a>
              <a class="site" href="http://jina.me"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>

      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/meagan.png">
          <figcaption>
            <h3>Meagan Fisher</h3>
            <p class="title">Freelance Interface Designer</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/owltastic"><i class="icon-twitter"></i></a>
              <a class="site" href="http://owltastic.com"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-50 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/alex.png">
          <figcaption>
            <h3>Alex Estrada</h3>
            <p class="title">Digital Designer, Birchbox</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/alexestrada"><i class="icon-twitter"></i></a>
              <a class="site" href="http://www.alexestrada.me"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="grid-50 prefix-25 suffix-25 mobile-grid-100">
        <figure>
          <img src="assets/img/speakers/greg.png">
          <figcaption>
            <h3>Greg Gibilisco</h3>
            <p class="title">Director of Visual Design, MAYA Design</p>
            <p class="social">
              <a class="twitter" href="https://twitter.com/gibilisco"><i class="icon-twitter"></i></a>
              <a class="site" href="http://www.maya.com"><i class="icon-globe"></i></a>
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  
  <section data-scroll-index="2" id="schedule">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <h2>Schedule</h2>
      </div>
      <div class="grid-33 mobile-grid-100">
        <h3>Thursday, August 21st</h3>
        <ul>
          <li><span class="time">7pm</span><span class="sponsor">Pre-Event at the <a href="http://museumofdiscovery.org/">Museum of Discovery</a><br /><span>Thank you <a href="http://www.mailchimp.com">Mailchimp</a> for sponsoring!</span></span></li>
        </ul>
      </div>
      <div class="grid-33 mobile-grid-100">
        <h3>Friday, August 22nd</h3>
        <ul>
          <li><span class="time">8am</span> <span class="sponsor">Registration & Breakfast<br /><span>Thank you <a href="http://www.flex360.com/">Flex360</a> for sponsoring!</span></span></li>
          <li><span class="time">9am</span> Welcome</li>
          <li><span class="time">10am</span> Alex Estrada</li>
          <li><span class="time">11am</span> James Victore</li>
          <li><span class="time">12pm</span> <span class="sponsor">Lunch & Activities<br /><span>Thank you <a href="http://www.aristotle.net/">Aristotle</a> for sponsoring!</span></span></li>
          <li><span class="time">2pm</span> Michael Parenteau</li>
          <li><span class="time">3pm</span> Tuesday Bassen</li>
          <li><span class="time">4pm</span> Jina Bolton</li>
          <li><span class="time">7pm</span> <span class="sponsor"><a href="http://www.designedbyfew.com">Designed by Few</a><br /><span>Thank you <a href="http://blkboxlabs.com/">BLKBOXLabs</a> for sponsoring!</span></span></li>
        </ul>
      </div>
      <div class="grid-33 mobile-grid-100">
        <h3>Saturday, August 23rd</h3>
        <ul>
          <li><span class="time">8am</span> <span class="sponsor">Breakfast<br /><span>Thank you <a href="http://www.inthooz.com/">Mass Enthusiasm</a> and <a href="http://www.kaplusa.com">KA+A</a> for sponsoring!</span></span></li>
          <li><span class="time">9am</span> John Allison</li>
          <li><span class="time">10am</span> Greg Gibilisco</li>
          <li><span class="time">11am</span> Marc Hemeon</li>
          <li><span class="time">12pm</span> Lunch & Activities</li>
          <li><span class="time">2pm</span> Meagan Fisher</li>
          <li><span class="time">3pm</span> Jeffrey Kalmikoff</li>
          <li><span class="time">4pm</span> James White</li>
          <li><span class="time">7pm</span> <span class="sponsor">After-party<br /><span>Thank you <a href="http://www.arkansasedc.com/">AEDC</a> for sponsoring!</span></span></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="photos">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
      <a href="https://www.facebook.com/media/set/?set=a.805591492802043.1073741828.331192633575267">2013 Photo Gallery &#8594;</a>
      </div>
    </div>
  </section>
  <section data-scroll-index="3" id="details">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <h2>Details</h2>
      </div>
      <div class="event-details hide-on-mobile">
        <div class="grid-80 prefix-10 mobile-grid-100">
          <div class="event-description">
            <p class="emphasis">Made by Few is a single-track, two day conference taking place on August 22-23 in Little Rock, Arkansas at the Argenta Community Theater. The conference focuses on individuals who design and create web/mobile applications and sites.</p>
            <p>There will be a total of 10 speakers, with 5 speakers presenting each day. The speakers will be a mix of designers, illustrators, developers, and entrepreneurs.</p>
            <p>The ticket cost will include admission to each day of the conference, the <a href="http://www.designedbyfew.com">Designed by Few Competition</a>, the conference after-party, lunch & breakfast on both days, plus a conference t-shirt and schwag. We will also be doing a few giveaways throughout each day.</p>
          </div>
        </div>
        <div class="grid-20 prefix-10 mobile-grid-100">
          <div class="details-block">
            <h3>MxF Venue</h3>
            <p><strong>Argenta Community Theater</strong><br />405 Main St.<br />North Little Rock, AR 72114<br /><a href="https://goo.gl/maps/WKw0h">Google Map &#8594;</a></p>
          </div>
        </div>
        <div class="grid-20 mobile-grid-100">
          <div class="details-block">
            <h3>DxF Venue</h3>
            <p><strong>Bill & Margaret Clark Room</strong><br/>430 President Clinton Ave.<br/>Little Rock, AR 72201<br/><a href="https://goo.gl/maps/ZI4Jz">Google Map &#8594;</a></p>
          </div>
        </div>
        <div class="grid-20 mobile-grid-100">
          <div class="details-block">
            <h3>Suggested Hotel</h3>
            <p><strong>Courtyard Downtown</strong><br />521 President Clinton Ave.<br />Little Rock, AR 72201<br /><a href="http://www.marriott.com/hotels/travel/litdt-courtyard-little-rock-downtown">Website &#8594;</a></p>
          </div>
        </div>
        <div class="grid-20 mobile-grid-100">
          <div class="details-block">
            <h3>Suggested Hotel</h3>
            <p><strong>Hampton Inn & Suites</strong><br />320 River Market Ave.<br />Little Rock, AR 72201<br /><a href="http://hamptoninn3.hilton.com/en/hotels/arkansas/hampton-inn-and-suites-little-rock-downtown-LITDTHX/index.html">Website &#8594;</a></p>
          </div>
        </div>
      </div>
      <div class="event-details mobile hide-on-desktop">
        <div class="grid-80 prefix-10 mobile-grid-100">
          <div class="event-description">
            <p class="emphasis">Made by Few is a single-track, two day conference taking place on August 22-23 in Little Rock, Arkansas at the Argenta Community Theater. The conference focuses on individuals who design and create web/mobile applications and sites.</p>
            <p>There will be a total of 10 speakers, with 5 speakers presenting each day. The speakers will be a mix of designers, illustrators, developers, and entrepreneurs.</p>
            <p>The ticket cost will include admission to each day of the conference, the <a href="http://www.designedbyfew.com">Designed by Few Competition</a>, the conference after-party, lunch & breakfast on both days, plus a conference t-shirt and schwag. We will also be doing a few giveaways throughout each day.</p>
          </div>
        </div>
        <div class="grid-20 prefix-10 mobile-grid-100">
          <div class="details-block">
            <h3>MxF Venue</h3>
            <p><strong>Argenta Community Theater</strong><br />405 Main St.<br />North Little Rock, AR 72114<br /><a href="https://goo.gl/maps/WKw0h">Google Map &#8594;</a></p>
          </div>
        </div>
        <div class="grid-20 mobile-grid-100">
          <div class="details-block">
            <h3>DxF Venue</h3>
            <p><strong>Bill & Margaret Clark Room</strong><br />430 President Clinton Ave.<br />Little Rock, AR 72201<br /><a href="https://goo.gl/maps/ZI4Jz">Google Map &#8594;</a></p>
          </div>
        </div>
        <div class="grid-20 mobile-grid-100">
          <div class="details-block">
            <h3>Suggested Hotel</h3>
            <p><strong>Courtyard Downtown</strong><br />521 President Clinton Ave.<br />Little Rock, AR 72201<br /><a href="http://www.marriott.com/hotels/travel/litdt-courtyard-little-rock-downtown">Website &#8594;</a></p>
          </div>
        </div>
        <div class="grid-20 mobile-grid-100">
          <div class="details-block">
            <h3>Suggested Hotel</h3>
            <p><strong>Hampton Inn & Suites</strong><br />320 River Market Ave.<br />Little Rock, AR 72201<br /><a href="http://hamptoninn3.hilton.com/en/hotels/arkansas/hampton-inn-and-suites-little-rock-downtown-LITDTHX/index.html">Website &#8594;</a></p>
          </div>
        </div>
      </div>
    </div>
    <svg id="bigHalfCircle" class="hide-on-mobile" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0 100 C40 0 60 0 100 100 Z"/>
    </svg>
    <svg id="bigHalfCircle" class="hide-on-desktop" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="30" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0 100 C40 0 60 0 100 100 Z"/>
    </svg>
    <div id="map"></div>
  </section>
  <section id="about">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <h2 class="hide-on-mobile">What you should expect.</h2>
        <h2 class="hide-on-desktop">What you should expect.</h2>
      </div>
      <div class="grid-25 mobile-grid-100">
        <p>Making new friends.</p>
        <p>Learning... a lot.</p>
        <p>High-fives.</p>
        <p>Giveaways.</p>
      </div>
      <div class="grid-25 mobile-grid-100">
        <p>Cool talks.</p>
        <p>Killer after-party.</p>
        <p>Great southern food.</p>
        <p>Laughs.</p>
      </div>
      <div class="grid-25 mobile-grid-100">
        <p>Being inspired.</p>
        <p>A ton of fun.</p>
        <p>Intimate & open enviornment.</p>
        <p>Coffee (it's a must).</p>
      </div>
      <div class="grid-25 mobile-grid-100">
        <p>Hugs.</p>
        <p>Sweet venues.</p>
        <p>Free schwag.</p>
        <p>... and more learning.</p>
      </div>
    </div>
  </section>
  <section id="register">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <a class="btn" href="https://mxf2014.herokuapp.com/register">Register Now</a>
      </div>
    </div>
  </section>
  <section data-scroll-index="4" id="sponsors">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <hr />
        <h2>Sponsors</h2>
        <p>Huge thanks to our amazing sponsors for making this event possible.</p>
      </div>

      <div class="grid-50 prefix-25 suffix-25 mobile-grid-100">
        <a href="http://mailchimp.com/">
          <img src="assets/img/sponsors/mailchimp.png">
        </a>
      </div>
      <div class="grid-50 mobile-grid-100">
        <a href="http://blkboxlabs.com/">
          <img src="assets/img/sponsors/bbl.png">
        </a>
      </div>

      <div class="grid-50 mobile-grid-100">
        <a href="http://few.io/">
          <img src="assets/img/sponsors/few.png">
        </a>
      </div>

      <div class="grid-50 mobile-grid-100">
        <a href="http://www.artletic.com">
          <img src="assets/img/sponsors/artletic.png">
        </a>
      </div>
      <div class="grid-50 mobile-grid-100">
        <a href="http://www.grasshopper.com">
          <img src="assets/img/sponsors/grasshopper.png">
        </a>
      </div>
      <div class="grid-50 mobile-grid-100">
        <a href="http://www.arkansasedc.com">
          <img src="assets/img/sponsors/aedc.png">
        </a>
      </div>
      <div class="grid-50 mobile-grid-100">
        <a href="http://innovation.arkansasbusiness.com">
          <img src="assets/img/sponsors/ia.png">
        </a>
      </div>
      
      <div class="grid-25 mobile-grid-100">
        <a href="http://www.kaplusa.com">
          <img src="assets/img/sponsors/kaplusa.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://www.aristotle.net/">
          <img src="assets/img/sponsors/aristotle.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://www.balsamiq.com">
          <img src="assets/img/sponsors/balsamiq.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://getreadyfor.me">
          <img src="assets/img/sponsors/massenthusiasm.png">
        </a>
      </div>

      <div class="grid-25 mobile-grid-100">
        <a href="http://www.rocktowndistillery.com/">
          <img src="assets/img/sponsors/rocktown.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://onyxcoffeelab.com/">
          <img src="assets/img/sponsors/onyx.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://www.flex360.com/">
          <img src="assets/img/sponsors/flex360.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://www.threadbird.com/">
          <img src="assets/img/sponsors/threadbird.png">
        </a>
      </div>

      <div class="grid-25 mobile-grid-100">
        <a href="http://littlephotobooth.com/">
          <img src="assets/img/sponsors/lpb.png">
        </a>
      </div>
      <div class="grid-25 mobile-grid-100">
        <a href="http://www.stickermule.com">
          <img src="assets/img/sponsors/stickermule.png">
        </a>
      </div>

    </div>
    <div class="grid-100 mobile-grid-100">
      <p class="become-sponsor"><a href="mailto:hello@madebyfew.com?subject=I want to sponsor Made by Few 2014">— Become a Sponsor —</a></p>
    </div>
  </section>
  <footer>
    <div class="grid-container">
      <div class="grid-30">
        <div class="merch">
          <img src="/assets/img/shirt.png">
          <p><span>Merch</span><br />Wanna represent Made by Few in the wild? Pick up one of our kickass shirts.<br /><a href="http://store.few.io">Visit the store &#8594;</a></p>
        </div>
      </div>
      <div class="grid-70 mobile-grid-100">
      <h5 class="hide-on-mobile">No man is an island. Huge thanks to these folks:</h5>
      <ul class="hide-on-mobile">
        <li class="tip" data-tip="The Party"><a href="http://www.youtube.com/watch?v=eh7lp9umG2I"><img src="assets/img/team/heman.jpg"></a></li>
        <li class="tip" data-tip="A/V"><a href="http://twitter.com/jeremyspeakes"><img src="assets/img/team/jeremyspeakes.jpg"></a></li>
        <li class="tip" data-tip="Design"><a href="http://twitter.com/gabecouch"><img src="assets/img/team/gabe.jpg"></a></li>
        <li class="tip" data-tip="Design"><a href="http://twitter.com/arlton"><img src="assets/img/team/arlton.jpg"></a></li>
        <li class="tip" data-tip="Marketing"><a href="http://twitter.com/abbisiler"><img src="assets/img/team/abbi.jpg"></a></li>
        <li class="tip" data-tip="Design"><a href="http://twitter.com/JeremyTeff"><img src="assets/img/team/jeremyteff.jpg"></a></li>
        <li class="tip" data-tip="Development"><a href="http://twitter.com/_davidhudson"><img src="assets/img/team/david.jpg"></a></li>
      </ul>

        <p class="hide-on-mobile">© 2014 Made by Few. All Rights Reserved.<br />Questions / Comments? <a href="mailto:hello@madebyfew.com?subject=Made by Few General Inquiry">Drop us a line</a></p>
        <p class="mobile hide-on-desktop">© 2014 Made by Few. All Rights Reserved.<br />Questions / Comments? <a href="mailto:hello@madebyfew.com?subject=Made by Few General Inquiry">Drop us a line</a></p>
      </div>
    </div>
  </footer>
  <script src="/assets/js/home.min.js"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28700504-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
